<%include partials/header.ejs%>
<div class='blog-container'>
    <div class='ui main text container segment '>
        <div class='ui huge header'>
            <%=blog.title%>
        </div>
        <div class='ui top attached '>
            <div class='item'>
                <div>
                    <img class='ui centered rounded image' src=<%=blog.image %> alt="Image for the blog"
                    style="width:300px">
                </div>
                <div class='description'>
                    <%- blog.body %>
                </div>
                <div class='content'>
                    <%= blog.created.toDateString() %>
                </div>
               
                <a class=" ui blue big animated fade button" href='/blogs/<%=blog._id%>/edit' tabindex="0" type='submit'>
                    <div class="visible content">Edit post</div>
                    <div class="hidden content">
                        <i class="paper plane outline icon"></i>
                    </div>
                </a>
                <form class='ui form forminline' action='/blogs/<%=blog._id%>?_method=DELETE' method="POST">
                    <button class="ui red big animated fade button" tabindex="0">
                        <div class="visible content">Delete post</div>
                        <div class="hidden content">
                            <i class="trash alternate icon"></i>
                        </div>
                    </button>
                </form>

            </div>



        </div>

    </div>
</div>
<%include partials/footer%>